@font-face {
	font-family: Geist;
	src: url(./assets/fonts/GeistVF.woff2) format(woff2);
}
:root {
	--main: #030C1D;
	--main-text: #FFF;
	--taskbar-height: 50px;
}
body {
	background-image: url('./assets/images/win11wallpaper.jpg');
	background-size: cover;
	background-position: center;
	background-color: var(--main);
	color: var(--main-text);
	margin: 0;
}
#app {
	font-family: Geist, Helvetica, Arial, sans-serif;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.maximized {
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
}
.minimized {
	display: none !important;
}
