@font-face {
	font-family: Geist;
	src: url(./assets/fonts/GeistVF.woff2) format(woff2);
}
:root {
	--main: #030C1D;
	--main-text: #FFF;
	--taskbar-height: 50px;
}
body {
	background-image: url('./assets/images/win11wallpaper.jpg');
	background-size: cover;
	background-position: center;
	background-color: var(--main);
	color: var(--main-text);
	margin: 0;
}
#app {
	font-family: Geist, Helvetica, Arial, sans-serif;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.minimized {
	display: none !important;
}
.snapright, .snapleft, .maximized {
	top: 0 !important;
	height: 100% !important;
	transition: all 0.1s cubic-bezier(.15,.91,.62,1);
}
.snapright, .snapleft {
	width: 50% !important;
}
.snapright {
	left: initial !important;
	right: 0 !important;
}
.snapleft {
	left: 0 !important;
}
.maximized {
	left: 0 !important;
	width: 100% !important;
}
.dragging iframe {
	pointer-events: none;
}
